#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_strip:
	dh_strip --dbg-package=pantheon-terminal-dbg

override_dh_auto_install:
	dh_auto_install --destdir=debian/pantheon-terminal

override_dh_builddeb:
	dh_builddeb -- -Zxz
