#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --buildsystem=meson

ifneq ($(DEB_DISTRIBUTION),bionic)
override_dh_auto_configure:
	dh_auto_configure -- -Dubuntu-bionic-patched-vte=false
endif

override_dh_strip:
	dh_strip --dbgsym-migration='pantheon-terminal-dbg (<< 0.4.3)'

override_dh_missing:
	dh_missing --fail-missing
