/*
 * Copyright 2017-2024 elementary, Inc. (https://elementary.io)
 * SPDX-License-Identifier: LGPL-3.0-only
 */

/* Make sure terminal background can use colors with alpha */
.terminal-window.background {
    background-color: transparent;
}

.terminal-window.background.maximized,
.terminal-window.background.tiled {
    background-color: #000;
}

vte-terminal {
    padding: 0 9px;
}

.color-custom radio {
    -gtk-icon-source: -gtk-icontheme("list-add-symbolic");
}

.color-custom radio:checked {
    -gtk-icon-source: -gtk-icontheme("check-active-symbolic");
}

