[Desktop Entry]
Name=Terminal
Comment=Use the command line
TryExec=pantheon-terminal
Exec=pantheon-terminal
Icon=utilities-terminal
Type=Application
Categories=GTK;Utility;TerminalEmulator;
StartupNotify=true
X-GNOME-Gettext-Domain=pantheon-terminal

X-Ayatana-Desktop-Shortcuts=NewWindow;NewRootWindow

[NewWindow Shortcut Group]
Name=New Window
Name[it]=Nuova Finestra
Exec=pantheon-terminal
TargetEnvironment=Unity

[NewRootWindow Shortcut Group]
Name=New Root Window
Name[it]=Finestra da Amministratore
Exec=gksu pantheon-terminal
TargetEnvironment=Unity

