[Desktop Entry]
Name=Terminal
Comment=Use the command line
TryExec=pantheon-terminal
Exec=pantheon-terminal
Icon=utilities-terminal
Type=Application
Categories=GTK;Utility;TerminalEmulator;
StartupNotify=true
X-GNOME-Gettext-Domain=pantheon-terminal

X-Ayatana-Desktop-Shortcuts=NewWindow;NewRootWindow

[NewWindow Shortcut Group]
Name=Create a new window
Name[it]=Crea una nuova finestra
Exec=pantheon-terminal
TargetEnvironment=Unity

[NewRootWindow Shortcut Group]
Name=Create a new root window
Name[it]=Crea una finestra da amministratore
Exec=gksu pantheon-terminal
TargetEnvironment=Unity

