[Desktop Entry]
Name=Terminal
Comment=Use the command line
TryExec=pantheon-terminal
Exec=pantheon-terminal
Icon=utilities-terminal
Type=Application
Categories=GTK;Utility;TerminalEmulator;
StartupNotify=true
MimeType=x-directory/gnome-default-handler;x-directory/normal;inode/directory;
